
.panel-2col-bip { 
/*  overflow: hidden;  */
  margin-top: 0;
  padding-top: 0;
}

.panel-2col-bip .panel-col-top,
.panel-2col-bip .panel-col-bottom { 
  width: 99.9%; 
  clear: both;
}

.panel-2col-bip .panel-col-top .inside {
  margin-bottom: .5em;
}

.panel-2col-bip .panel-col-first { 
  float: left; 
  width: 50%; 
}
* html .panel-2col-bip .panel-col-first {
  width: 49.9%;
}

.panel-2col-bip .panel-col-first .inside { 
  margin: 0 .5em 1em 0;
}

.panel-2col-bip .panel-col-last { 
  float: left; 
  width: 49.9%; 
}

.panel-2col-bip .panel-col-last .inside { 
  margin: 0 0 1em .5em;
}

.panel-2col-bip .panel-separator {
  margin: 0 0 1em 0;
}

.panel-2col-bip .center-wrapper {
  display: flex;
  padding: 10px;
  border: 1px solid yellow;
}